@media not print, print and (min-width: 720px) and (orientation:landscape) {

  section {
    display: flex;
    background-color: lightgray;
    width: 80%;
    justify-content: space-evenly;
    flex-flow: row-reverse wrap; /* flex-direction:row-reverse; flex-wrap:wrap; */
  }

  article {
    display: flex;
    width: 123px;
    margin: 10px;
    font-size: xx-large;
    height: 2em;
    justify-content: center; /* Horizontal eje X */
    align-items: center; /* Vertical eje Y  */
  }

  article:first-child {
    border-radius: 50%;
    border-style: solid;
  }

  article:last-child {
    border-radius: 10%;
  }

  article:nth-child(odd) {
    border: 3px inset;
    /*  border-style:inset; */
    background-color: silver;
    color: white;
  }

  article:nth-child(even) {
    border: 3px outset;
    /* border-style: outset; */
    background-color: white;
    color: black;
  }
}

@media (max-width: 500px) and (orientation:portrait) {
    section {
        flex-flow: column-reverse nowrap ;
        background-color: red;
        justify-content: center; /* Horizontal eje X */
        align-items: center; /* Vertical eje Y  */
    }
}